prometheus-client
aixblock-ml
aixblock-sdk==0.0.5
aixblock-tools
tensorboardX==1.9
# gradio==3.50
opencv-python
redis
rq
flask>=2.2
flask-cors
Werkzeug>=2.0
gunicorn>=20.0
colorama
lxml
appdirs
ultralytics
gitpython
centrifuge-python
flask_swagger_ui
numpy
grafana-api
shapely
twilio
gradio-webrtc==0.0.4
twilio
gradio==5.10.0
gradio_client==1.5.3